.Create {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 9rem;
  gap: 3rem;
  margin-bottom: 5rem;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 3rem;
    h2 {
      color: #240b36;
      font-size: 4rem;
    }
    .create {
      display: flex;
      align-items: center;
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      .image {
        margin: 1rem;
        img {
          border: solid #240b36 1px;
          border-radius: 1rem;
          width: 320px;
          height: 380px;
        }
      }
      button {
        width: fit-content;
        min-width: 180px;
        border: solid #240b36 2px;
        padding: 1rem;
        border-radius: 18px;
        display: inline-block;
        cursor: pointer;
        font-size: 18px;
        background-color: #240b36;
        color: white;
        text-align: center;
      }
      .form {
        width: 30%;
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        border: solid #240b36 2px;
        border-radius: 1rem;
        padding: 2rem;
        label {
          font-size: 32px;
          font-weight: 600;
          color: #240b36;
        }
        input {
          margin: 1rem;
          color: #240b36;
          width: 100%;
          padding: 6px 12px;
          border: solid #240b36 2px;
          border-radius: 8px;
          font-size: 18px;
          height: 2.2rem;
        }
      }
      .preview {
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
          display: inline-block;
          margin-bottom: 1rem;
        }
        .cardNFT {
          display: flex;
          flex-direction: column;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          padding: 0.5rem;
          border-radius: 1rem;
          align-items: space-evenly;
          width: max-content;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          &:hover {
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
          }
          .image {
            margin: 1rem;
            h3 {
              color: #240b36;
              text-align: center;
              margin-bottom: 0.5rem;
            }
            img {
              border: #240b36 solid 1px;
              border-radius: 1rem;
              width: 320px;
              height: 380px;
            }
          }
          .name {
            display: flex;
            color: black;
            align-items: center;
            justify-content: space-between;
            padding: 0 1rem;
          }
          .price-container {
            display: flex;
            padding: 0.8rem 1rem;
            align-items: center;
            justify-content: space-between;
            color: #240b36;
            .price {
              font-size: 22px;
              font-weight: 600;
              border: none;
            }
          }
          .buy {
            align-self: center;
            margin-bottom: 0.8rem;
          }
        }
      }
    }
  }
}
