.Navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
  .toggle {
    display: none;
  }
  .links{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100% );
    padding: 2.5em 8rem;
    ul{
      display: flex;
      list-style-type: none;
      gap: 3rem;

      li{
        a{
          color: #002000;
          text-decoration: none;
          transition: 0.4s ease-in-out;

          &:hover{
            color: #2d69fd;
          }
        }
      }
    }
  }
}