.Profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 9rem;
  gap: 3rem;
  margin-bottom: 5rem;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    h2 {
      color: #240b36;
      font-size: 4rem;
      i {
        font-weight: 900;
        color: aquamarine;
      }
    }
    .proceeds {
      font-size: 2rem;
      font-weight: 600;
      height: 4rem;
      width: fit-content;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
    }
    button {
      margin-top: 0.8rem;
      height: 2rem;
      width: fit-content;
      min-width: 240px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4rem;
      padding: 0.8rem 2rem;
      border: none;
      color: white;
      font-size: 1.1rem;
      cursor: pointer;
      background-color: #240b36;
    }
    .collection {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      .cardNFT {
        display: flex;
        flex-direction: column;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 0.5rem;
        border-radius: 1rem;
        align-items: space-evenly;
        width: max-content;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }
        .image {
          margin: 1rem;
          h3 {
            color: #240b36;
            text-align: center;
            margin-bottom: 0.5rem;
          }
          .img {
            border: #240b36 solid 1px;
            border-radius: 1rem;
            width: 320px;
            height: 380px;
          }
        }
        .name {
          display: flex;
          color: black;
          align-items: center;
          justify-content: space-between;
          padding: 0 1rem;
          h4 {
            color: #240b36;
          }
        }
        .price-container {
          display: flex;
          padding: 0.8rem 1rem;
          align-items: center;
          justify-content: space-between;
          color: #240b36;
          input {
            font-size: 22px;
            font-weight: 600;
            border: none;
          }
        }
        .sell {
          align-self: center;
          margin-bottom: 0.8rem;
        }
      }
      h2 {
        i {
          font-weight: 900;
          color: aquamarine;
        }
      }
    }
  }
}
